<!DOCTYPE html>
<html ng-app="TaxiScanner">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=width-device, initial-scale=1">
    <title>AngularJS TaxiScanner</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.22/angular.min.js" /></script>
    <script type="text/javascript" src="app/lodash.js" ></script>
    <script type="text/javascript" src="app/app.js" ></script>
    <script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBKyjL1dVNRJtVNMsdu7vr5lC0X9JTTfWc'></script>
    <script data-require="angular-google-maps@*" data-semver="1.1.4" src="https://rawgit.com/nlaplante/angular-google-maps/1.1.4/dist/angular-google-maps.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBKyjL1dVNRJtVNMsdu7vr5lC0X9JTTfWc&libraries=places"></script>
    <script src="app/autocomplete.js"></script>

	<link rel="stylesheet" href="css/style.css" />
  <link rel="stylesheet" href="css/autocomplete.css">
    <link data-require="bootstrap-css@3.2.0" data-semver="3.2.0" rel="stylesheet" href="css/bootstrap.min.css" />
</head>

<body ng-controller="TaxiCtrl as gmaps">
<header>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
    <a href="index.html" class="pull-left visible-md visible-lg">
    <div id="logo-img"></div>
    </a>
    <a class="navbar-brand" href="#"><h1>Taxi Fare Scanner</h1></a>
    </div>
  </div>
</nav>
</header>
<div id="main-content" class="container">
<div class="row">
<!--FORM-->
<div id="calc-left" class="col-md-4 col-sm-6 col-xs-12">
<form class="form-horizontal">
  <fieldset>
    <div class="form-group">
      <label for="Origin" class="col-lg-2 control-label">From:</label>
      <div class="col-lg-10">
        <input class="form-control" id="inputOrigin" placeholder="Origin" type="text" g-places-autocomplete ng-model="gmaps.directions.origin" />
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword" class="col-lg-2 control-label">To:</label>
      <div class="col-lg-10">
        <input class="form-control" id="inputDest" placeholder="Destination" type="text" g-places-autocomplete ng-model="gmaps.directions.destination" />
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button class="btn btn-primary" ng-click="gmaps.getDirections()">Estimate Taxi Fare</button>
      </div>
    </div>
  </fieldset>
</form>
</div>



<!--RESULTS-->
<div id="calc-right" class="col-md-4 col-sm-6 col-xs-12">
    <p>
  <div id="spinner" ng-show="gmaps.loading"></div>
  <span id="estimated" ng-show="gmaps.data.total_fare">Estimated Fare</span>
	<span id="fare" ng-show="gmaps.data.total_fare">{{gmaps.data.total_fare | number }} €</span>
	<span id="distance" ng-show="gmaps.data.distance">Distance: {{gmaps.data.distance/1000 | number : 2}} km</span>
	<span id="time" ng-show="gmaps.data.duration">Time: {{gmaps.data.duration/60 | number : 1}} min</span>
    </p>

  <div class="alert alert-danger" ng-show="gmaps.error">
  <span><strong>Your Location is not supported yet! Sorry.</strong></span>
  </div>
</div>
</div>  




<div id="map"></div>


<a href="#" class="btn btn-default btn-lg btn-block" ng-click="showDetails = ! showDetails">Show Directions</a>        
<div id="directionsList" ng-show="showDetails" class="panel panel-primary"></div>





</div>




<footer class="panel-footer">
	<div class="container">
		<div class="text-center">&copy; Roman Zhohov, Anara Abdukalikova, Jonathan Berrios, 
		                                Software as a Service, LUT 2017</div>
		</div>
	</div>
</footer>

</body>

</html>